* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c6c5b9ad;
  color: #393a10;
  display: flex;
}
.container {
  margin: 2em;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  padding-bottom: 0.4em;
}

li {
  list-style: none;
  margin-bottom: 4px;
}
#total-line {
  font-weight: bold;
}
