@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Noto Serif", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --dark: #301014;
  --brown: #51291e;
  --light: #edf4ed;
  --lt-green: #abd1b5;
  --mid-green: #79b791;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  justify-content: center;
  min-width: 80vw;
  min-height: 100vh;
}
input {
  color: var(--dark);
  border-radius: 2px;
  height: 2em;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  margin: 0.4em 0 0.4em 0;
  padding: 0.2em 1.2em;
  font-size: 1em;
  background-color: var(--lt-green);
  color: var(--dark);
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  border-color: var(--mid-green);
  background-color: var(--mid-green);
  color: var(--light);
  font-weight: bold;
  box-shadow: 1px 1px 5px var(--brown);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.form-section,
.list-section {
  margin-top: 2em;
}
li {
  list-style: none;
}
