@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-navy: #283044;
  --blue: #78a1bb;
  --white: #ebf5ee;
  --lt-beige: #bfa89e;
  --beige: #8b786d;
}
body {
  font-family: "Fira Sans", sans-serif;
  background-color: var(--white);
  color: var(--dark-navy);
  font-size: 18px;
}
.main-container {
  padding: 2em;
}
label {
  text-align: center;
}
.search-section {
  padding: 1em 0;
}
input {
  height: 2.2em;
  padding: 0 0.5em;
}
input:focus {
  border-radius: 2px;
  border: none;
  outline: 2px solid #2956c9;
}

.single-container {
  padding: 20px;
}
h2 {
  padding-bottom: 10px;
}
h3 {
  padding: 8px 0 6px 0;
  color: var(--beige);
}
li {
  padding-left: 10px;
}
#flag {
  padding-top: 10px;
  width: 250px;
  aspect-ratio: 1;
}
