* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  color-scheme: light dark;
  color: #402319;
  background-color: #f2d0a7;
}

.container {
  margin: 50px;
}
.select-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-family: inherit;
  background-color: #d9644a;
  box-shadow: 2px 2px 5px 2px #734230;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 7px 10px 2px 10px;
  line-height: 1;
}
button:hover {
  border: 2px solid #734230;
}

.most-voted-section {
  margin-top: 10px;
}
#votes-line {
  color: #d9644a;
  font-weight: bold;
}
