@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-light: #f5f5f5;
  --text-dark: #183642;
  --lt-lilac: #cbc5ea;
  --dk-lilac: #73628a;
  --navy-blue: #313d5a;
  background-color: var(--bg-light);
}
body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--text-dark);
}

body {
  min-width: 320px;
  min-height: 100vh;
}
.main-container {
  margin: 2em;
}
.error-container {
  height: 4em;
  color: orangered;
}
form {
  display: flex;
  flex-direction: column;
  height: 20em;
}
label {
  text-transform: capitalize;
}
input {
  padding: 0.2em;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  padding-bottom: 1em;
}

.single-entry {
  padding-bottom: 0.4em;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  padding-bottom: 0.5em;
}
h2 {
  font-size: 2em;
}
h2,
h3 {
  padding-bottom: 0.2em;
}
h3 {
  color: var(--dk-lilac);
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--lt-lilac);
  color: var(--navy-blue);
  cursor: pointer;
  transition: border-color 0.25s;
  width: 250px;
}
button:hover {
  border-color: var(--navy-blue);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
